<form action="/square_root/results">
  <label for="number">Enter a number</label>
  <input id="number" type="text" name="users_number" placeholder="What number do you want to square root?"><br>
  <button>Calculate square root</button>
</form>
