<h1>Generate a Random Number</h1>
<form action="/random/results">
  <label for="min">Minimum Value</label>
  <input id="min" type="text" name="min">

  <label for="max">Maximum Value</label>
  <input id="max" type="text" name="max">

  <button>Generate</button>
</form>
