<form action="/square/results">
  <label for="giraffe">Enter a number</label><br>
  <input id="giraffe" type="text" name="users_number" placeholder="What number do you want to square?"><br>
  <button>Calculate square</button>
</form>
