<h1>Payment Results</h1>
<dl>
  <dt>Principal</dt>
  <dd><%= @formatted_principal %></dd>

  <dt>APR</dt>
  <dd><%= @formatted_apr %></dd>

  <dt>Number of Years</dt>
  <dd><%= @years %></dd>

  <dt>Monthly Payment</dt>
  <dd><%= @formatted_monthly_payment %></dd>
</dl>
